{% assign author = site.author %}

<div class="profile" itemscope itemtype="http://schema.org/Person">
  <img class="profile__avatar" src="{{ author.avatar }}" alt="Photo of {{ author.name }}" itemprop="image">

  <div class="profile__meta">
    <h1 class="profile__name" itemprop="name">
      {{ author.name }}{% if author.name_native %} <span class="profile__native" lang="zh">{{ author.name_native }}</span>{% endif %}
    </h1>
    {% if author.position %}<p class="profile__position" itemprop="jobTitle">{{ author.position }}</p>{% endif %}
    {% if author.bio %}<p class="profile__affiliation" itemprop="affiliation">{{ author.bio }}</p>{% endif %}
    {% if author.location %}
      <p class="profile__location">{% include icon.html name="location" %} {{ author.location }}</p>
    {% endif %}
  </div>

  {% if author.interests %}
    <ul class="profile__interests">
      {% for topic in author.interests %}<li>{{ topic }}</li>{% endfor %}
    </ul>
  {% endif %}

  <ul class="profile__links">
    {% if author.email %}
      <li><a href="mailto:{{ author.email }}">{% include icon.html name="email" %}<span>Email</span></a></li>
    {% endif %}
    {% if author.googlescholar %}
      <li><a href="{{ author.googlescholar }}">{% include icon.html name="scholar" %}<span>Scholar</span></a></li>
    {% endif %}
    {% if author.github %}
      <li><a href="https://github.com/{{ author.github }}">{% include icon.html name="github" %}<span>GitHub</span></a></li>
    {% endif %}
    {% if author.twitter %}
      <li><a href="https://x.com/{{ author.twitter }}">{% include icon.html name="x" %}<span>Twitter</span></a></li>
    {% endif %}
    {% if author.linkedin %}
      <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}">{% include icon.html name="linkedin" %}<span>LinkedIn</span></a></li>
    {% endif %}
    {% if author.cv %}
      <li><a href="{{ author.cv }}">{% include icon.html name="cv" %}<span>CV</span></a></li>
    {% endif %}
  </ul>
</div>
