<header class="masthead">
  <div class="masthead__inner">
    <a class="masthead__brand" href="#about-me">{{ site.author.name }}</a>
    <button class="masthead__toggle" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="site-nav">
      <span></span><span></span><span></span>
    </button>
    <nav id="site-nav" class="masthead__nav">
      {% for link in site.data.navigation.main %}
        <a href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>
  </div>
</header>
